footer.mt-auto.text-white-50.bg-dark
    .container.justify-content-center
      ul.nav.list-unstyled.d-flex.col.d-flex.align-items-center.py-3.justify-content-center
          li.ms-4: a.text-body-secondary.h3(href='https://www.facebook.com/vonSchappler', target='_blank'): span.bi.bi-facebook(tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Visitar Facebook", data-bs-trigger='hover',data-bs-custom-class="custom-popover")  
          li.ms-4: a.text-body-secondary.h3(href='https://www.instagram.com/von_schappler/', target='_blank'): span.bi.bi-instagram(tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Visitar Instagram", data-bs-trigger='hover',data-bs-custom-class="custom-popover")  
          li.ms-4: a.text-body-secondary.h3(href='https://github.com/code-with-von', target='_blank'): span.bi.bi-github(tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Visitar GitHub", data-bs-trigger='hover',data-bs-custom-class="custom-popover")  
          li.ms-4: a.text-body-secondary.h3(href='https://www.linkedin.com/in/manoelviturino', target='_blank'): span.bi.bi-linkedin(tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Visitar LinkedIn", data-bs-trigger='hover',data-bs-custom-class="custom-popover")  
          li.ms-4: a.text-body-secondary.h3(href='https://twitter.com/von_Schappler', target='_blank'): span.bi.bi-twitter(tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Visitar Twitter", data-bs-trigger='hover',data-bs-custom-class="custom-popover")  
          li.ms-4: a.text-body-secondary.h3(href='https://twitch.tv/von_schappler', target='_blank'): span.bi.bi-twitch(tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Visitar Twitch", data-bs-trigger='hover',data-bs-custom-class="custom-popover")    
          li.ms-4: a.text-body-secondary.h3(href='https://www.youtube.com/@codewithvon', target='_blank'): span.bi.bi-youtube(tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Visitar YouTube", data-bs-trigger='hover',data-bs-custom-class="custom-popover")  

      .d-flex.flex-wrap.justify-content-center.align-items-center.py-3.border-top
        span.mb-3.me-2.mb-md-0.text-body-secondary.text-decoration-none.lh-1 Desenvolvido com
        a.mb-3.me-2.mb-md-0.text-body-secondary.text-decoration-none.lh-1.nav-item(href="https://getbootstrap.com/" target="_blank") Bootstrap 5.3,
        a.mb-3.me-2.mb-md-0.text-body-secondary.text-decoration-none.lh-1.nav-item(href="https://parceljs.org/" target="_blank") Parcel e
        a.mb-3.me-2.mb-md-0.text-body-secondary.text-decoration-none.lh-1.nav-item(href="https://pugjs.org/" target="_blank") Pug
        
      
      .d-flex.flex-wrap.justify-content-center.align-items-center
        span.pb-3.me-2.mb-md-0.text-body-secondary.text-decoration-none.copy  &copy; 2023 von Schappler