header.mb-auto.bg-dark.p-3
  div
    h3.float-md-center.mb-0
      img.d-inline-block.align-text-center.rounded-circle(src='./img/logo.png' alt='Logo' width='50' height='50')
      span  Coding with von Schappler