main.align-items-center.m-3
  .card.container.py-5
    h1 Inscrição realizada com sucesso!
    p.p-left.my-3.px-5 Inscrever-se em nossos newsletter garante que você seja informado(a) sobre atualizações de cursos online, adição de conteúdo em repositórios, entre outros.
    p.p-left.my-3.px-5 Garantimos que seu email não será bombardeado com mensagens de spam.

    .row
      .col
        a.my-3.btn.btn-primary.w-100.justify-self-center(href='./index.pug')
          span.bi.bi-arrow-left-circle  Voltar
      .col
        
        a.my-3.btn.btn-primary.w-100.justify-self-center(href='https://github.com/code-with-von/code-with-von.github.io' target='_blank') Inspecionar código do site 
          span.bi.bi-arrow-down-circle  